// Inicialización de los estílos básicos del proyecto.
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    // display: none;
}

// Reset <a>
a {
    outline: none;
    text-decoration: none;
}

// Reset <img>
img {
    max-width: 100%;
    display: block;
}

// Reset general etiquetas <h>
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-family-h);
}

// Reset <h1>
h1 {
    font-size: var(--font-size-h1);
}

// Reset <button>
button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: var(--cursor-button);

    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

// Reset <ul>
ul {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}




