
// Breakpoints
$breakpoints: (
    medium: 640px,
    xmedium: 960px,
    large: 1024px,
    xlarge: 1280px,
    xxlarge: 1440px,
    zlarge: 1600px,
    zzlarge: 1920px
);

// VARIABLES GLOBALES.

// Anchos y alturas.
:root {
    --max-width: 1200px;
    --min-width: 320px;
    --height-header: 4rem;

    @include from(large) {
        --height-header: 4.5rem;
    }

    // @include from(zlarge) {
    //     --height-header: 4.5rem;
    // }
}

// Familia de fuentes.
:root {
    --font-family-h: 'News Cycle', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
}

// Tamaños de fuentes.
:root {
    --font-size-h1: 2rem;
    --font-size-body: .9rem;
    --font-size-small: .75rem;

    @include from(xmedium) {
        --font-size-h1: 2.5rem;
        --font-size-body: 1rem;
        --font-size-small: .8rem;
    }
}

// Variables para button
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}

// Variables de apilamiento - "z-index"
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


