
// Breakpoints
$breakpoints: (
    medium: 640px,
    xmedium: 960px,
    large: 1024px,
    llarge: 1160px,
    xlarge: 1280px,
    xxlarge: 1440px,
    zlarge: 1600px,
    zzlarge: 1920px
);


// VARIABLES GLOBALES.

// Variables de apilamiento - "z-index"
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


// Anchos y alturas.
:root {
    --min-width: 320px;
    --max-width: 1200px;
    --max-width-min: 720px;
    --max-width-alt: 960px;
    --height-header: 3.5rem;

    // Wide 540px
    @include from(540px) {
        --height-header: 3.8rem;
    }

    // Wide 640px
    @include from(medium) {
        --height-header: 4rem;
    }

    // Wide 1024px
    @include from(large) {
        --height-header: 5rem;
    }
}

// Familia de fuentes.
:root {
    --font-family-h: 'Lato', sans-serif;
    // --font-family-h: 'News Cycle', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;
    --font-family-italic: 'Noto Serif', serif;
}

// Tamaños de fuentes.
:root {
    --font-size-h1: 1.8rem;
    --font-size-body: .9rem;
    --font-size-small: .75rem;

    @include from(360px) {
        --font-size-h1: 2rem;
    }

    @include from(xmedium) {
        --font-size-h1: 2.5rem;
        --font-size-body: 1rem;
        --font-size-small: .8rem;
    }
}

// Variables para colores
:root {
    --color-dark: #0b2239;
    --color-dark-two: #343a40;
    --color-dark-three: #2a3b47;

    --color-blue: #1b7ad1;
    --color-blue-one: #155592;
    --color-green: #63e6be;

    // body
    // --background-color-body: #fbfbfe;
    --background-color-body: #e7e7e7;
    @include from(xlarge) {
        --background-color-body: #fbfbfe;
    }
}

// Variables para cursor.
:root {
    --cursor-button: default;

    @include from(large) {
        --cursor-button: pointer;
    }
}

// Variables para los enlaces.
:root {
    @include from(large) {
        --border-radius-link: .3125rem;
        --border-radius-link-big: .625rem;
        --border-color-link-active: transparent;
        --border-link: .125rem solid transparent;
        --border-color-link-focus: rgba(67, 203, 161, 1);
    }
}

// Variables para button
:root {
    --font-size-button: 1.2em;

    @include from(360px) {
        --font-size-button: 1.3em;
    }

    // @include from(medium) {
    //     --font-size-button: 1.4em;
    // }

    @include from(zlarge) {
        --font-size-button: 1.5em;
    }
}

