:root {
  --max-width: 1270px;
  --min-width: 320px;
  --height-header: 4rem; }
  @media screen and (min-width: 1600px) {
    :root {
      --height-header: 4.5rem; } }

:root {
  --font-family-h: 'News Cycle', sans-serif;
  --font-family-body: 'Open Sans', sans-serif; }

:root {
  --font-size-h1: 2rem;
  --font-size-body: .9rem;
  --font-size-small: .75rem; }
  @media screen and (min-width: 960px) {
    :root {
      --font-size-h1: 2.5rem;
      --font-size-body: 1rem;
      --font-size-small: .8rem; } }

:root {
  --cursor-button: default; }
  @media screen and (min-width: 960px) {
    :root {
      --cursor-button: pointer; } }

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body); }

a {
  outline: none;
  text-decoration: none; }

img {
  max-width: 100%;
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-family-h); }

h1 {
  font-size: var(--font-size-h1); }

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: var(--cursor-button); }
  button:focus {
    outline: none; }
  button::-moz-focus-inner {
    border: 0; }

.container {
  text-align: center; }

.container,
.main-layout {
  display: grid; }

.main-layout {
  grid-row-gap: .3rem; }

.main-header-layout {
  --padding-main-header: 0 .8rem 0 .3rem; }
  @media screen and (min-width: 960px) {
    .main-header-layout {
      --padding-main-header: 0 1rem 0 .5rem; } }

.main-header-layout {
  display: flex;
  align-items: center;
  height: var(--height-header);
  padding: var(--padding-main-header); }

.main-layout {
  padding: 3rem;
  background-color: lightpink; }

.main-header {
  --width-logo: 3.6rem;
  --font-size-title: 1.2rem;
  --font-size-subtitle: 1rem;
  --font-family: 'Amaranth', sans-serif; }

.main-header__logo {
  height: auto;
  margin-right: .3rem;
  width: var(--width-logo); }

.main-header__name-site {
  margin-right: auto; }

.main-header__title, .main-header__subtitle {
  font-weight: 400;
  font-family: var(--font-family); }

.main-header__title {
  font-size: var(--font-size-title); }

.main-header__subtitle {
  margin: 0;
  font-size: var(--font-size-subtitle); }

.burguer-button {
  --cursor-button: none;
  --color-line-inner: #094293;
  --display-button: visibility; }
  @media screen and (min-width: 960px) {
    .burguer-button {
      --display-button: none;
      --cursor-button: pointer; } }

.burguer-button {
  width: 2rem;
  height: auto;
  position: relative;
  background-color: pink;
  cursor: var(--cursor-button);
  display: var(--display-button); }
  .burguer-button__line, .burguer-button__line::before, .burguer-button__line::after {
    width: 100%;
    height: .25rem;
    position: absolute;
    border-radius: 1.25rem;
    background-color: var(--color-line-inner); }
  .burguer-button__line {
    top: 50%;
    transform: translateY(-50%); }
  .burguer-button__line::before, .burguer-button__line::after {
    content: '';
    right: 0; }
  .burguer-button__line::before {
    top: -200%; }
  .burguer-button__line::after {
    top: 200%; }

.main-nav {
  padding: 1rem;
  color: white;
  background-color: lightseagreen; }

[class*="section-"] {
  padding: .6rem;
  background-color: orange; }

.section-four {
  background-color: limegreen; }

.aside {
  padding: 1rem;
  color: white;
  background-color: crimson; }

.footer {
  background-color: lightsteelblue;
  padding: 1rem; }
