
.main-banner {
    --object-position: top left;

    @include from(large) {
        --object-position: top right;
    }

    @include from(xxlarge) {
        --object-position: center;
    }
}

.main-banner {
    font-size: 1rem;
}

.main-banner {
    position: relative;
    background-color: #626262;

    // &__button-sello-promesa {
    //     display: block;
    // }


    &__hero-image {
        top: 0;
        left: 0;
        opacity: .2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--object-position);
    }

    &__content {
        display: flex;
        color: white;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    &__button-sello-promesa {
        margin-bottom: 1.2rem;
        position: relative;

        @include from(large) {
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 10px;
        }

        &:focus {
            border-color: var(--border-color-link-focus);
        }

        &:active {
            border-color: var(--border-color-link-active);
            top: .0625rem;
            // left: .0625rem;
        }

        &:hover {
            @include from(large) {
                background-color: rgba(0, 0, 0, .2);
            }
        }
    }

    &__logo-sello-promesa {
        height: 8rem;

        @include from(large) {
            height: 10rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    &__subtitle {
        margin: .9rem 0 2rem;
    }
}





