
.main-banner {
    --object-position: top left;

    --margin-bottom-sello-promesa: 1.2rem;

    --height-sello-promesa: 8rem;

    --font-size-title: 1.5rem;
    --margin-title: 0 1rem;

    @include from(medium) {
        --margin-bottom-sello-promesa: 1.5rem;
        --height-sello-promesa: 8.5rem;

        --font-size-title: 1.6rem;
    }

    @include from(xmedium) {
        --margin-bottom-sello-promesa: 1.8rem;
        --height-sello-promesa: 9rem;

        --font-size-title: 1.8rem;

    }

    @include from(large) {
        --object-position: top right;

        --padding-button-sello-promesa: .3125rem;

        --background-color-sello-promesa-hover: rgba(0, 0, 0, .2);

        --height-sello-promesa: 9.5rem;
    }

    @include from(xlarge) {
        --height-sello-promesa: 11rem;

        --font-size-title: 2.2rem;
    }

    @include from(xxlarge) {
        --object-position: center;

        --margin-title: 0 5rem;
    }

    @include from(zlarge) {
        --font-size-title: 2.4rem;
    }

    @include from(zzlarge) {
        --height-sello-promesa: 12rem;

        --margin-title: 0 9rem;
    }
}

.main-banner {
    font-size: 1rem;
}

.main-banner {
    position: relative;
    background-color: #626262;

    &__hero-image {
        top: 0;
        left: 0;
        opacity: .2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        object-position: var(--object-position);
    }

    &__content {
        display: flex;
        color: white;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    &__button-sello-promesa {
        position: relative;
        border: var(--border-link);
        padding: var(--padding-button-sello-promesa);
        border-radius: var(--border-radius-link-big);
        margin-bottom: var(--margin-bottom-sello-promesa);


        &:focus {
            border-color: var(--border-color-link-focus);
        }

        &:active {
            top: .0625rem;
            border-color: var(--border-color-link-active);
        }

        &:hover {
            background-color: var(--background-color-sello-promesa-hover);
        }
    }

    &__logo-sello-promesa {
        height: var(--height-sello-promesa);
    }

    &__title {
        margin: var(--margin-title);
        font-size: var(--font-size-title);
    }

    &__subtitle {
        margin: .9rem 0 2rem;

        @include from(medium) {
            margin-bottom: 2.5rem;
            font-size: 1.1rem;
        }

        @include from(large) {
            margin-bottom: 3rem;
            font-size: 1.2rem;
        }

        @include from(zzlarge) {
            margin-bottom: 4.5rem;
        }
    }
}

