
// Variables locales
.main-header {
    --width-logo: 3.6rem;
    --font-color: #094293;
    --font-size-title: 1.2rem;
    --background-color: #fff;
    --font-size-subtitle: 1rem;
    --font-family: 'Amaranth', sans-serif;

    @include from(360px) {
        --font-size-title: 1.26rem;
        --font-size-subtitle: 1.06rem;
    }

    @include from(large) {
        z-index: var(--z-normal);
    }

    @include from(zlarge) {
        --width-logo: 4rem;
        --font-size-title: 1.35rem;
        --font-size-subtitle: 1.15rem;
    }
}

.main-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: var(--z-fixed);
    height: var(--height-header);
    border-bottom: 1px solid lightgray;
    background-color: var(--background-color);

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: auto;
        margin-right: .3rem;
        width: var(--width-logo);
        cursor: var(--cursor-button);
    }

    // Contenedor Title y Subtitle
    &__name-site {
        margin-right: auto;
    }

    &__title,
    &__subtitle {
        font-weight: 400;
        font-family: var(--font-family);
    }

    &__title {
        font-size: var(--font-size-title);
    }

    &__subtitle {
        margin: 0;
        font-size: var(--font-size-subtitle);
    }

    &__link {
        color: var(--font-color);
        cursor: var(--cursor-button);
    }
}

