
// Variables locales
.main-header {
    --width-logo: 3.6rem;
    --font-color: #094293;
    --font-size-title: 1.2rem;
    --background-color: #fff;
    --font-size-subtitle: 1rem;
    --font-family: 'Amaranth', sans-serif;

    @include from(360px) {
        --font-size-title: 1.26rem;
        --font-size-subtitle: 1.06rem;
    }

    @include from(large) {
        z-index: var(--z-normal);
    }

    @include from(zlarge) {
        --width-logo: 4rem;
        --font-size-title: 1.35rem;
        --font-size-subtitle: 1.15rem;
    }
}

.main-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: var(--z-fixed);
    height: var(--height-header);
    border-bottom: 1px solid lightgray;
    background-color: var(--background-color);

    &__container {
        display: flex;
        align-items: center;
    }

    &__link-logo {
        @include from(large) {
            margin-right: 5px;
            position: relative;
            border-radius: 10px;
            border: 2px solid transparent;

            &:focus {
                border-color: rgba(252, 211, 7, 1);
            }

            &:hover {
                border-color: transparent;
                background-color:  rgba(28, 90, 148, .09);
            }

            &:active {
                top: 1px;
                left: 1px;
                background-color:  rgba(28, 90, 148, .12);
            }
        }
    }

    &__logo {
        height: auto;
        margin-right: .3rem;
        width: var(--width-logo);
        cursor: var(--cursor-button);

        @include from(large) {
            margin-right: 0;
        }
    }

    &__title {
        font-weight: 400;
        font-family: var(--font-family);
        font-size: var(--font-size-title);
        margin-right: auto;
    }

    &__link-title {
        color: var(--font-color);
        cursor: var(--cursor-button);
    }

}

