.round-icon {
    width: 130px;
    height: 130px;
    border: 3px solid var(--color-blue-one);
    border-radius: 50%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue-one);

    @include from(412px) {
        width: 150px;
        height: 150px;
        font-size: 70px;
    }
}