// Contenido principal de la página.

.main {
    margin-top: var(--height-header);

    min-width: 320px;

}

[class*="section-"] {
    padding: .6rem;
    background-color: orange;
}

.section-four {
    background-color: limegreen;
}


