
$youtube: true;
// $youtube: false;

.main {
    // TODO: Tamaño de fuente de referencia
    // para las unidades em.
    font-size: 1rem;

    // TODO: Tanto el tamaño de los titulares como el
    // color de la fuente se debe trabajar a través de variables
    // definidas en _variables.scss
    color: #808080;
    // color: rgb(42, 59, 71);
}

// Canal de Youtube
@if $youtube {
    .youtube {
        width: 100%;
        // TODO: Esta sección está centrada desde su contenedor en "_layout.scss"
        // margin-left: auto;
        // margin-right: auto;
        background-color: #fff;

        padding: 1rem 0 1.5rem;

        @include from(medium) {
            padding: 1.5rem 0 2rem;
        }

        @include from(xxlarge) {
            padding: 2rem 0 2.5rem;
        }

        border-radius: 10px;

        // TODO: La sombra de las cajas se debe aplicar sin
        // repetir el código de caja en caja.
        box-shadow: 0 0 9px -7px rgba(0,0,0,.8);

        @include from(medium) {
            border-radius: 0;
        }

        &__title {
            font-size: 2.2rem;
            text-transform: uppercase;
            margin-bottom: .3rem;
            font-weight: 300;

            @include from(360px) {
                font-size: 2.5rem;
            }

            @include from(412px) {
                font-size: 2.7rem;
            }
        }

        &__subtitle {
            margin: 0 0 1.5rem;
        }

        // TODO: Esta contenedor no se pudo centrar con Flexbox.
        &__video {
            margin-left: auto;
            margin-right: auto;
            max-width: var(--max-width-min);

            @include ratio(16,9);
            margin-bottom: 1rem;

            @include from(xlarge) {
                margin-bottom: 1.5rem;
            }

            > iframe, video {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        // TODO: El centrado no se realiza con Flexbox debido al
        // problema de centrado del vídeo.
        &__info {
            margin-left: auto;
            margin-right: auto;
            max-width: var(--max-width-min);

            display: flex;
            padding: 0 .5rem;
            align-items: center;
            flex-direction: column;

            @include from(540px) {
                padding: 0 .7rem;
            }

            @include from(medium) {
                padding: 0 1rem;
            }
        }

        &__text {
            text-align: left;
            margin: 0 0 2rem;

            @include from(medium) {
                margin: 0 0 2.5rem;
            }
        }
    }
}

// TODO: Esta sección está centrada desde su contenedor en "_layout.scss"
.somos {
    width: 100%;
    // margin-left: auto;
    // margin-right: auto;

    &__header {
        padding: .5rem 0;
        margin-bottom: .4375rem;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @include from(medium) {
            border-radius: 0;
        }

        @include from(768px) {
            padding: 1.2rem 0;
        }
    }

    &__title {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 300;
        color:#808080;

        @include from(360px) {
            font-size: 2.5rem;
        }

        @include from(412px) {
            font-size: 2.7rem;
        }
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 7px;

        @include from(medium) {
            grid-template-columns: repeat(3,1fr);
        }

        @include from(large) {
            grid-template-columns: repeat(12,1fr);
        }

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #fff;

        padding: 1rem 0;

        &:last-child {
            border-bottom-right-radius: 10px;
        }

        &:nth-last-child(2) {
            border-bottom-left-radius: 10px;
        }


        @include from(medium) {

            &:last-child {
                border-bottom-right-radius: 0;
            }

            &:nth-last-child(2) {
                border-bottom-left-radius: 0;
            }

            // TODO:No funciona "border-radius: 0"
            // & {
            //     border-radius: 0;
            // }
        }
    }

    &__link {
        border: 2px solid transparent;
        padding: 0 7px 7px;
        border-radius: .625rem;
        // margin-bottom: .5rem;

        // &:focus {
        //     border-color: turquoise;
        // }
    }

    &__text {
        font-size: .9rem;
        text-transform: uppercase;

        @include from(412px) {
            font-size: 1.2rem;
        }
    }
}



