// Menú principal de navegación.

.main-nav {
    width: 80vw;
    color: white;
    position: fixed;
    left: -80vw;
    transition: left .6s;
    top: var(--height-header);
    background-color: lightseagreen;
    height: calc(100vh - #{var(--height-header)});

    &__move {
        left: 0;
    }
}

