
// Variables locales.
.main-nav {
    --width-nav: 80vw;
    --position-nav: fixed;
    --transition-nav: left .6s;
    --flex-direction-nav: column;
    --height-nav: calc(100vh - #{var(--height-header)});

    /* ------ main-menu ------*/
    --display-menu: block;
    /*------------------------*/

    /* ---------- help-bar ----------*/
    --order-help-bar: -1;
    --width-icons: 3.2rem;
    --padding-help-bar: .5rem 1rem;
    /*-------------------------------*/


    @include from(xmedium) {
        --width-nav: auto;
        --height-nav: auto;
        --position-nav: static;
        --transition-nav: none;
        --flex-direction-nav: row;

        /* ------ main-menu ------*/
        --display-menu: flex;
        /*------------------------*/

        /* ------ help-bar ------*/
        --order-help-bar: 0;
        --padding-help-bar: 0;
        --width-icons: 2.5rem;
        /*-----------------------*/
    }
}

.main-nav {
    left: -80vw;
    display: flex;
    width: var(--width-nav);
    height: var(--height-nav);
    top: var(--height-header);
    position: var(--position-nav);
    transition: var(--transition-nav);
    background-color: lightseagreen;
    flex-direction: var(--flex-direction-nav);

    &__move {
        left: 0;
    }
}

.main-menu {
    text-align: left;
    background-color: #9DBA2C;
    display: var(--display-menu);
}

.help-bar {
    display: flex;
    justify-content: flex-end;
    order: var(--order-help-bar);
    padding: var(--padding-help-bar);
}

.checkin,
.contact {
    width: var(--width-icons);
}

.contact {
    margin-left: 1rem;
}
