
// Variables locales.
.main-nav {
    /* -------------------- main-nav ------------------- */
    --width-nav: 80vw;
    --position-nav: fixed;
    --transition-nav: left .6s;
    --flex-direction-nav: column;
    --background-color-nav: #2a3b47;
    --height-nav: calc(100vh - #{var(--height-header)});

    /*---------------------------------------------------*/

    /* ------------- main-menu ---------------*/
    --display-menu: block;
    --border-top-menu: 1px solid #11191e;
    --border-bottom-menu: 2px solid #485761;
    /*----------------------------------------*/

    /*----------- main-menu__item -----------*/
    --border-top-item: 2px solid #485761;
    --border-bottom-item: 1px solid #11191e;
    /*---------------------------------------*/

    /*---- main-menu__link ----*/
    --padding-link: .8em;
    --font-size-link: .9em;
    --color-link: #aab0b5;
    --font-weight-link: 400;
    /*-------------------------*/

    /*-- main-menu__link-hover --*/
    --color-link-hover: #fff;
    /*---------------------------*/

    /* ------------- help-bar ------------*/
    --order-help-bar: -1;
    --width-icons: 2.8rem;
    --margin-right-button-checkin: 1rem;
    --padding-help-bar: .8rem 1rem .8rem 0;
    /*------------------------------------*/


    // Wide 960px
    @include from(xmedium) {
        /*---- main-menu__link ----*/
        --font-size-link: 1em;
        /*-------------------------*/
    }


    // Wide 1024px;
    @include from(large) {
        /* ------- main-nav ------- */
        --width-nav: auto;
        --height-nav: auto;
        --position-nav: static;
        --transition-nav: none;
        --flex-direction-nav: row;
        --background-color-nav: none;
        /*--------------------------*/

        /* ------ main-menu ------*/
        --display-menu: flex;
        --border-top-menu: none;
        --margin-right-menu: 2rem;
        --border-bottom-menu: none;
        /*------------------------*/

        /*-------- main-menu__item ---------*/
        --border-top-item: none;
        --border-bottom-item: none;
        /*----------------------------------*/

        /*--------- main-menu__link ---------*/
        --color-link: #094293;
        --font-weight-link: 300;
        --padding-link: .5em .3em;
        --font-size-link: 1.1875em;
        --font-family-link: 'Oswald', sans-serif;
        /*-----------------------------------*/

        /*----- main-menu__link-hover ------*/
        --color-link-hover: #2e969f;
        /*----------------------------------*/

        /* ----------- help-bar -----------*/
        --width-icons: 3rem;
        --order-help-bar: 0;
        --padding-help-bar: 0;
        --padding-button-help-bar: .1875rem;
        --margin-right-button-checkin: 1.5rem;
        /*---------------------------------*/
    }


    // Wide 1100px
    @include from(1100px) {
        /*---- main-menu__item -----*/
        --margin-right-item: .625rem;
        /*--------------------------*/
    }


    // Wide 1160px
    @include from(llarge) {
        /*---- main-menu__item -----*/
        --margin-right-item: .9375rem;
        /*--------------------------*/
    }


    // Wide 1280px
    @include from(xlarge) {
        /*---- main-menu__item -----*/
        --margin-right-item: .5rem;
        /*--------------------------*/

        /*------------ main-menu__link -------------*/
        --font-size-link: 1.1875em;
        --font-family-link: 'Open Sans', sans-serif;
        /*------------------------------------------*/
    }
}

.main-nav {
    left: -80vw;
    display: flex;
    overflow-y: auto;
    width: var(--width-nav);
    height: var(--height-nav);
    top: var(--height-header);
    position: var(--position-nav);
    transition: var(--transition-nav);
    flex-direction: var(--flex-direction-nav);
    background-color: var(--background-color-nav);

    &__move {
        left: 0;
    }
}

.main-menu {
    text-align: left;
    align-items: center;
    display: var(--display-menu);
    border-top: var(--border-top-menu);
    margin-right: var(--margin-right-menu);
    border-bottom: var(--border-bottom-menu);

    &__item {
        border-top: var(--border-top-item);
        margin-right: var(--margin-right-item);
        border-bottom: var(--border-bottom-item);
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item:hover {
        border-top: none;
        border-bottom: none;
    }


    &__link {
        display: block;
        line-height: normal;
        color: var(--color-link);
        padding: var(--padding-link);
        font-size: var(--font-size-link);
        font-family: var(--font-family-link);
        font-weight: var(--font-weight-link);
    }
}

.main-menu__link,
.help-bar__button {
    border: var(--border-link);
    border-radius: var(--border-radius-link);

    &:focus {
        border-color: var(--border-color-link-focus);
    }

    &:active {
        border-color: var(--border-color-link-active);
    }
}

.main-menu__link {
    &:hover {
        color: var(--color-link-hover);
    }
}

.help-bar {
    display: flex;
    justify-content: flex-end;
    order: var(--order-help-bar);
    padding: var(--padding-help-bar);

    &__button {
        padding: var(--padding-button-help-bar);
    }

    &__button:first-child {
        margin-right: var(--margin-right-button-checkin);
    }

    &__icon-checkin,
    &__icon-contact {
        width: var(--width-icons);
        cursor: var(--cursor-button);
    }
}

