
.container {
    text-align: center;
}

.container,
.main-layout {
    display: grid;
}

.main-layout {
    grid-row-gap: .3rem;
}

.main-header-layout {
    // max-width: 1270px;
    // margin-left: auto;
    // margin-right: auto;
    --padding-main-header: 0 .8rem 0 .3rem;
    @include from (xmedium) {
        --padding-main-header: 0 1rem 0 .5rem;
    }
}

.main-header-layout {
    display: flex;
    align-items: center;
    height: var(--height-header);
    padding: var(--padding-main-header);
}

.main-layout {
    padding: 3rem;
    background-color: lightpink;
}

