
.container {
    text-align: center;
}

.container,
.main-layout {
    display: grid;
}

.main-layout {
    grid-row-gap: .3rem;
}

.main-header__layout {
    --padding-header: 0 .8rem 0 .3rem;

    @include from(xmedium) {
        --padding-header: 0 1rem 0 .5rem;
    }

    @include from(large) {
        --padding-header: 0 1.2rem 0 .7rem;
    }

    @include from(xlarge) {
        --padding-header: 0;
    }
}

.main-header__layout {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
    padding: var(--padding-header);
}

.main-layout {
    padding: 3rem;
    background-color: lightpink;
}

