
.container {
    text-align: center;
}

.container,
.main-layout {
    display: grid;
}

// .main-layout {

// }

.main-header__layout {
    --padding-header: 0 .8rem 0 .3rem;

    @include from(xmedium) {
        --padding-header: 0 1rem 0 .5rem;
    }

    @include from(large) {
        --padding-header: 0 1.2rem 0 .7rem;
    }

    @include from(xlarge) {
        --padding-header: 0;
    }
}

.main-header__layout,
.main__layout {
    margin-left: auto;
    margin-right: auto;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

.main-header__layout {
    height: 100%;
    padding: var(--padding-header);
}

.main-banner__layout {
    --padding-banner: 2rem 1rem 3rem;
    --polygon-banner: 0 0, 100% 0, 100% 100%, 0 98%;

    @include from(xmedium) {
        --polygon-banner: 0 0, 100% 0, 100% 100%, 0 94%;
    }

    @include from(large) {
        --padding-banner: 2.5rem 2rem 4rem;
    }

    @include from(xlarge) {
        --padding-banner: 2.5rem 2rem 4.8rem;
    }
}

.main-banner__layout {
    min-width: var(--min-width);
    padding: var(--padding-banner);
    margin-top: var(--height-header);
    clip-path: polygon(var(--polygon-banner));
}

.main__layout {
    // grid-row-gap: .3rem;
    padding: 2rem 0;
    // padding: 2.5rem 0 2rem;
    // background-color: lightpink;
}


